* {
  text-align: center;
}

ul li {
  list-style: none;
  
}

.fav {
  display:flex;
  flex-wrap:wrap;

}

#fav-img{
  width: 50%;
  height: 50%;
}

.grass {
  margin: 20px;
  border:1px solid black;
  height: 325px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: green;

}
.water{
  margin: 20px;
  border:1px solid black;
  height: 325px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(59, 119, 237);
}

.normal{
  margin: 20px;
  border:1px solid black;
  height: 325px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(165, 93, 42);
}
.fire{
  margin: 20px;
  border:1px solid black;
  height: 325px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(232, 99, 46);
}
.bug{
  margin: 20px;
  border:1px solid black;
  height: 325px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: greenyellow;
}

.pokemonDetails {
  display: flex;
  flex-direction: column;
}

.pic-border{
  border:1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.grass > .pic-border{
  background-color: rgb(1, 50, 1);
}

.water > .pic-border{
  background-color:  rgb(3, 29, 82);
}

.fire > .pic-border{
  background-color:  rgb(97, 29, 2);
}

.normal > .pic-border{
  background-color: rgb(74, 32, 1);
}

.bug > .pic-border{
  background-color: rgb(69, 113, 2);
}